In [1]:
import pandas as pd 

## Reading the csv file 
autos = pd.read_csv('autos.csv')
autos.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [2]:
## Defining the input and target variables 
X = autos[['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration']]
Y = autos['mpg']

from sklearn.model_selection import train_test_split

## Splitting th data 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [3]:
import numpy as np
from sklearn.ensemble import RandomForestRegressor 

## Defining the number of trees
n_tree = [100, 300, 500, 800, 1000]

## Extracting the trees 
n = len(n_tree)

## Defining the data-frame to store results
results = pd.DataFrame({'Number_of_Trees': np.repeat(np.nan, n), 'RMSE': np.repeat(np.nan, n), 'MAE': np.repeat(np.nan, n)})

for i in range(0, n):
    
    ## Building the random forest model 
    RF = RandomForestRegressor(n_estimators = n_tree[i]).fit(X_train, Y_train)
    
    ## Predicting on the test dataset 
    RF_pred = RF.predict(X_test)
    
    ## Storing results
    results['Number_of_Trees'][i] = n_tree[i]
    results['RMSE'][i] = np.sqrt(np.mean((RF_pred - Y_test)**2))
    results['MAE'][i] = np.mean(abs(RF_pred - Y_test))
    
results

   Number_of_Trees      RMSE       MAE
0            100.0  4.377394  3.002532
1            300.0  4.397054  3.022118
2            500.0  4.372705  2.974722
3            800.0  4.397377  3.006802
4           1000.0  4.379349  2.991411